fastapi
sqlmodel
psycopg[binary]
uvicorn
psycopg2
spacy
faiss-cpu
anthropic
numpy
python-jose[cryptography]
bcrypt
python-multipart
python-dotenv
debugpy
redis
dotenv

# python3 -m spacy download en_core_web_md